/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    // @apply bg-gray-900; //bg-gray-900
    height: 100vh;
    width: 100vw;
    background-image: url('../src/assets/colegio-transformed.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
    background-blend-mode: multiply;
    background-size: cover;
}    


:root{
    color-scheme: dark light;
}